<div class="row">
    <% for (var item of pacient) { %>

        <div class="col-sm-6 col-sm-offset-3">
            <h4 class="modal-title">Dados do paciente</h4>
            <form action="/users/update/<%= item._id %>" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" name="name" value="<%= item.name %>">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Sobrenome</label>
                        <input type="text" class="form-control" name="lastname" value="<%= item.lastname %>">
                    </div>
                    <div class="form-group">
                        <label for="age">Idade</label>
                        <input type="number" class="form-control" name="age" value="<%= item.age %>">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" value="<%= item.email %>">
                    </div>
                    <div class="form-group" style="display:none">
                        <label for="password">Senha:</label>
                        <input type="password" class="form-control" name="password" value="<%= item.password %>">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/users" class="btn btn-default">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>

        <% } %>
</div>