<div class="col-md-12 content">
    <div class="row">
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-image:none">
            Lista de Pacientes
            <div class="pull-right">
                <div class="btn-group">
                    <a href="/users/create" class="btn btn-primary btn-xs">Novo Paciente</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Idade</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (var item of pacients) { %>
                            <tr>
                                <td>
                                    <%= item.name%>
                                        <%= item.lastname %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.age %>
                                </td>
                                <td>
                                    <a href="/users/edit/<%= item.id %>" class="btn btn-sm btn-primary">Editar</a>

                                    <a href="/users/delete/<%= item.id %>" class="btn btn-sm btn-danger">Excluir</a>
                                </td>
                            </tr>
                            <% } %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>